#gedit backups 
*~

#binary of the user space tool
trigger-carbonite

# Vi swap files
.*.swp

*.tgz
*.tar.gz
*.rpm

.*
!.gitignore
*.o
*.o.*
*.ko
*.ko.*
*.mod.c
*.order
Module.symvers
Module.markers
rpms
